:root {
    font-family: monospace;
    --sona-blue: #82b6ff;
    --sona-light-blue: #9de0ff;
    --sona-lighter-blue: #dcf5ff;
    --sona-dark-blue: #0042a0;
    --blue-background: #00204d;
    background-color: var(--blue-background);
    --transition-speed: 0.5s;
}

header {
    background-color: var(--sona-dark-blue);
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    display: block;
}

header::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--sona-blue);
    margin: 0;
}

.head-column {
    float: left;
    width: 33vw;
    text-align: center;
}

.head-column ul {
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
    display: inline-flex;
}

.head-column li {
    padding: 0 15px;
}

.head-column ul {
    padding: 0;
}

#header-content {
    font-size: 1.5rem;
    color: var(--sona-blue);
    letter-spacing: .2rem;
}

#header-content:after {
    content: "";
    display: table;
    clear: both;
}

.nav-link {
    background-color: transparent;
    transition: var(--transition-speed);
    color: var(--sona-blue);
}

.nav-link a {
    text-decoration: none;
    color: var(--sona-blue);
    transition: var(--transition-speed);
}

.nav-link:hover a {
    text-decoration: none;
    color: var(--sona-dark-blue);
    background-color: var(--sona-blue);
}

#flavortext {
    text-align: center;
}

#flavortext_404 {
    text-align: center;
}

#maintitle {
    text-align: center;
    margin-top: 25vh;
}

#fourohfour {
    text-align: center;
    margin-top: 10vh;
}

.header1 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: bold;
}

.header2 {
    font-size: 2rem;
    margin-top: 4px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

#hamnav {
    width: 100%;
    background: var(--sona-dark-blue);
    display: none;
}

#hamitems { 
    display: flex; 
}

#hamitems li {
    padding: 0px;
}

#hamitems ul {
    list-style: none;
    list-style-position: outside;
    list-style-image: none;
    list-style-type: none;
}

#hamitems a {
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid var(--sona-dark-blue);
    }

    /* (B) HIDE HEADER AND SHOW HAMNAV PROPERLY */
    #hamnav {
      display: block !important;
    }
    header {
      display: none !important;
    }
   
    /* (C) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
      background: var(--sona-dark-blue);
    }
  
    /* (D) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
